{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles_c.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Tu Carrito - WalkWave</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <div class="logo-titulo">
                <a href="{% url 'index' %}">
                    <h1>WalkWave</h1>
                </a>
            </div>
            <nav id="nav">
                <a href="{% url 'index' %}">Inicio</a>
            </nav>
        </header>

        <div class="contenedor-carrito">
            <h2>Tu Carrito</h2>

            <div class="carrito-items">
                {% if productos %}
                    {% for item in productos %}
                    <div class="carrito-item">
                        <span class="carrito-item-titulo">{{ item.producto.nombre }}</span>
                        <span class="carrito-item-precio">{{ item.producto.precio }} CLP</span>
                        
                        <div class="selector-cantidad">
                            <button class="restar-cantidad">-</button>
                            <span class="carrito-item-cantidad">{{ item.cantidad }}</span>
                            <button class="sumar-cantidad">+</button>
                        </div>
                    
                        <!-- Botón de eliminación que llama a la URL eliminar_del_carrito -->
                        <a href="{% url 'eliminar_del_carrito' item.producto.id %}" class="btn-eliminar">Eliminar</a>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Tu carrito está vacío.</p>
                {% endif %}
            </div>

            <div class="carrito-total">
                <div class="fila">
                    <strong>Total:</strong>
                    <span class="carrito-precio-total">{{ total }} CLP</span>
                </div>
                <!-- Enlace de pago que vacía el carrito -->
                <a href="{% url 'pagar' %}" class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i></a>
            </div>
        </div>
    </div>

    <script src="{% static 'js/carrito.js' %}"></script>
</body>
</html>
