{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <title>Perfil de {{ user.username }}</title>
</head>
<body>
    <div class="contenedor-perfil">
        <h1>Perfil de {{ user.username }}</h1>

        <!-- Mostrar la imagen de perfil o una por defecto si no está configurada -->
        {% if user.perfil.imagen %}
            <img src="{{ user.perfil.imagen.url }}" alt="Imagen de perfil" class="imagen-perfil">
        {% else %}
            <img src="{% static 'img/default_perfil.png' %}" alt="Imagen de perfil" class="imagen-perfil">
        {% endif %}

        <!-- Formulario para actualizar la imagen de perfil -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="custom-file-label" for="image">Seleccionar archivo</label>
            <input type="file" name="imagen" id="image" accept="image/*">
            <button type="submit">Actualizar Imagen</button>
        </form>

        <!-- Información del perfil del usuario -->
        <div class="perfil-info">
            <div class="perfil-item">
                <i class="fa-solid fa-user"></i>
                <p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
            </div>
            <div class="perfil-item">
                <i class="fa-solid fa-envelope"></i>
                <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
            <div class="perfil-item">
                <i class="fa-solid fa-calendar"></i>
                <p><strong>Fecha de registro:</strong> {{ user.date_joined }}</p>
            </div>
        </div>

        <a href="{% url 'index' %}" class="boton-regresar">Regresar al inicio</a>
    </div>
</body>
</html>
