{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Perfil de {{ user.username }}</title>
</head>
<body>
    <div class="contenedor-perfil">
        <h1>Perfil de {{ user.username }}</h1>

        <!-- Imagen de perfil -->
        <img src="{% static 'img/perfil.png' %}" alt="Imagen de perfil" class="imagen-perfil">
        
        <div class="perfil-info">
            <div class="perfil-item">
                <i class="fa-solid fa-user"></i>
                <p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
            </div>
            <div class="perfil-item">
                <i class="fa-solid fa-envelope"></i>
                <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
            <div class="perfil-item">
                <i class="fa-solid fa-calendar"></i>
                <p><strong>Fecha de registro:</strong> {{ user.date_joined }}</p>
            </div>
        </div>

        <a href="{% url 'index' %}" class="boton-regresar">Regresar al inicio</a>
    </div>
</body>
</html>